@charset "UTF-8";
/* import font from gg font*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* import font from gg font*/

/*==========================================================================*/
/*                           Common-Setting                                 */
/*==========================================================================*/
/* 基本タグのフォントサイズを指定（12px -> 120% or 1.2em ） */
h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, blockquote, th, td, pre, address, li, dt, dd {
font-size: var(--mfont-size);
-webkit-text-size-adjust: none;
font-weight: 400;
}
html:focus-within {scroll-behavior: smooth;}
img {vertical-align: middle;max-width: 100%;flex-shrink: 0;height: auto;}
*,
::before,
::after{box-sizing:border-box;outline: none;}
select { visibility: visible !important; }
a{transition:all ease 0.3s;text-decoration:none;}
a[href^="tel:"] {word-break: keep-all;}
/*==========================================================================*/
/*                               Container                                  */
/*==========================================================================*/
html{background:#fff}
body{color:var(--txt);-webkit-text-size-adjust:none;min-width:320px;font-family: "Roboto", sans-serif;font-size: var(--mfont-size);margin: 0}
table {width: 100%}
h1,h2,h3,h4,h5,h6{line-height: 1.5;margin: 0}
p,
dd,
dt,
li,
th,
td,
address{line-height: 2em;letter-spacing: 0;margin: 0}
p {margin: 0 0 1.5em;font-size: var(--mfont-size);}
p:last-child{margin-bottom: 0}
ul{padding: 0;margin: 0;list-style-type: none;}

.bold{font-weight: bold;}
.left{text-align:left}
.right{text-align: right;}
.auto{margin-left: auto; margin-right: auto;}
.red{color: var(--red);}
.txt_line{text-decoration: underline;}
.m0a{display: block;margin: 0 auto;}
.f_big{font-size: 150%;}
.f_sm{font-size: 80%;}
.d-flex {display: flex; }
.justify-between {justify-content: space-between; }
.justify-center {justify-content: center; }
.align-center {align-items: center;}
.align-start {align-items: flex-start; }
.center, .text-center {text-align: center; }
.text-left {text-align: left; }
.text-right {text-align: right; }

:root {
  --font-main: Arial;
  --txt: #000;     
  --mcolor: #e31f26;
  --scolor: #999999; 
  --site_size: 1240px;
  --mfont-size: 16px;
  --border-color: red;
  
  --gray: #e9e9e9;
}

#wrapper{}
.container {max-width: 1240px; padding: 0 20px; margin: 0 auto; transition: 0.2s; }


/* DEFAULT TITLE */
.ttl{text-align: center;font-weight: bold;font-size: 40px;font-weight: 700;color: var(--mcolor);margin-bottom: 20px;line-height: 1.5}

.btn_center_box{gap: 20px;margin-bottom: 30px;display: flex;justify-content: center;align-items: center;}
.btn_center_box .btn{margin-bottom: 0}
.btn a {display: flex; align-items: center; position: relative; color: #fff; background-color: #599f1b; width: fit-content; padding: 12px 65px; z-index: 1; }
.btn a::before {position: absolute; content: ""; top: 0; left: 0; right: 0; bottom: 0; height: 100%; background-color: #333; z-index: -1; transition: 0.3s; }
.btn a:hover::before {height: 0; }
.btn a span {font-size: 15px; transition: 0.25s; font-weight: 500; position: relative; z-index: 2; }
.btn_100{width: 100%}
.btn_100 a{width: 100%;text-align: center;justify-content: center;}

section{padding: 40px 0;}

#quiz-box {width: 100%;max-width: 600px; margin: 30px auto; padding: 30px; border-radius: 8px; font-family: var(--font-main); background: #fff;box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);}
.option {padding: 12px; margin: 8px 0; border: 1px solid #ccc; border-radius: 6px; cursor: pointer; transition: .3s}
.option:hover{background: rgba(127, 127, 127, 0.1);}
.option.correct {color: #0a8a00; border-color: #0a8a00; font-weight: bold; }
.option.wrong {color: #d10000; border-color: #d10000; font-weight: bold; }
.option.disabled {pointer-events: none; opacity: 0.7; }
#next-btn{margin-top: 15px; padding: 10px 18px; cursor: pointer; width: 100%;border-radius: 5px;background: var(--mcolor);color: #fff;font-weight: 500;text-align: center;font-size: var(--mfont-size);border: none;transition: .3s}
#next-btn:hover{background: #c71b21}
.info{display: flex;justify-content: space-between;align-items: center;margin-bottom: 15px}
.num_ques{font-size: 18px;font-weight: 700;margin: 0}
#score{font-size: 16px;font-weight: 700;color: var(--mcolor);margin: 0}
#question{font-weight: 500;font-size: 20px;margin-bottom: 15px}